* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: rgba(228, 246, 246, 0.63);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
  margin: 0 5rem;
  position: relative;
}

.head {
  text-align: center;
  background-color: rgba(80, 80, 237, 0.961);
  padding: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
}

.input-section {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 1.2rem 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.3rem;
}

.all {
  margin-top: 5rem;
  background-color: #00000089;
  padding: 1rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0.3rem;
}

.btn {
  border: none;
  padding: 1.2rem 0.5rem;
  background-color: rgba(80, 80, 237, 0.961);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.city-currentdata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: rgba(80, 80, 237, 0.961);
  color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.weather-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-icon {
  width: 8rem;
  margin-right: 3rem;
}

.forecast-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.four-days {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card {
  background-color: #00000089;
  color: #f1e7e7;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/* .card-icon {
  width: 4rem;
} */

.date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mobile-search {
  display: none;
}

.hide {
  display: none;
}

/***************** */
/* MEDIA QUERIES */
@media (max-width: 56.25em) {
  .forecast-cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
}

@media (max-width: 43.75em) {
  .input-hide {
    display: none;
  }

  html {
    font-size: 50%;
  }

  .input-sec-2 {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 auto;
    margin-top: 10rem;
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: 120;
    transform: translate(-50%, -50%);
    background-color: #ebf5f6;
    padding: 2rem;
  }

  .overlay {
    height: 100%;
    width: 100%;
    /* position: relative; */
    z-index: 100;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.55);
  }

  .container {
    grid-template-columns: 1fr;
  }

  .weather-app {
    position: relative;
    /* z-index: -80; */
  }

  .mobile-search {
    display: block;
    border: none;
    padding: 0.8rem 1rem;
    background-color: rgba(0, 0, 0, 0.53);
    color: #fff;
    border-radius: 0.5rem;
    /* cursor: pointer; */
    /* z-index: 2000; */
    /* position: relative; */
  }

  .head {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 31.25em) {
  .container {
    column-gap: 4rem;
    margin: 0 2rem;
  }

  .city-icon {
    width: 8rem;
    margin-right: 0;
  }
}
